.App-header {
  background-color: #222;
  text-align: center;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5em;
}

.App-intro {
  font-size: large;
}

.App-usercol {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.App-usersection-header {
  text-align: center;
  font-weight: 400;
  color: gray;
  border-bottom: 1px solid silver;
}

.App-statistic-margin {
  margin-right: 20px !important;
}
